html { height: 100%; margin:0; width:100%;}

body { height: 100%; margin: 0; padding: 0; width:100%;}

button, ul, div, a, img, select{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.f_left{
	float:left;
}

.f_right{
	float: right;
}

.ramble_header{
	width: 100%;
	height: 75px;
	background-color: #ECECEC;
	background-image: url('../images/top_bar_bg.png');
	background-repeat:repeat-x;
}

.logo_ribbon{
	width: 133px;
	height: 101px;
	position: absolute;
	top:0px;
	left: 15%;
}

.ramble_header_content{
	width: 1000px;
	margin: 0 auto;
	height: 100%;
}

.ramble_header_btngroup{
	float: right;
	margin-top:5px;
}

.ramble_header_shadow{
	background-image: url('../images/header_dropshadow.png');
	background-repeat: repeat-x;
	height:6px;
	width:100%;
}

.clear{
	height: 100%;
	clear:both;
}

div[data-role="content"]{
	width: 1000px;
	margin:0 auto;
	margin-bottom: 20px;
	min-height: 60%;
}

div[data-role="page"]{
	height: 100%;
	width: 100%;
	background-image:url('../images/lightpaperfibers.png');
}

.ramble_footer_shadow{
	background-image:url('../images/header_dropshadow.png');
	background-color: #d0cfcd;
	background-repeat: repeat-x;
	height: 6px;
}

.ramble_footer{
	width: 100%;
	min-height: 20%;
	background-color: #d0cfcd;
	padding-bottom: 20px;
	background-image:url('../images/darkpaperfibers.png');
}

.footer_content{
	padding-top:40px;
	width: 1000px;
	margin:0 auto;
	text-align: center;
}

.footer_img{
	width: 250px;
	margin:0 auto;
	margin-top:20px;
}

.footer_links{
	font-size: 10pt;
	color: #3a3a3a;
	width:33%;
	float: left;
	display: inline;
	font-weight: bold;
	text-align: left

}

.footer_links a{
	font-weight: normal;
	color: #3a3a3a;
	text-decoration: none;
}

.footer_links a:hover{
	color: #555;
	text-decoration: underline;
}


.footer_links_holder{
	width: 100%;
	text-align: center;
	margin-left: 12%;
}

.index_intro{
	width:40%;
	margin-top: 35px;
	float: left;
	display: inline;
	font-family: arial, tahoma, sans-serif;
}

.index_welcome{
	height: 25px;
	font-size: 29px;
}

.index_text_logo{
	width:174px;
	height: 25px;
	background-image: url('../images/rambleonline-textual.png');
	background-repeat: no-repeat;
	float: left;
	margin-top: 3px;
	margin-left:9px;
	display: inline;

}

.index_tagline{
	color: #3f3f3f;
	font-size: 26px;
	margin-top: 30px;
}

.index_sellpoints{
	font-size: 20px;
}

.index_sellpoints ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	margin-top: 30px;
}

.index_sellpoints ul li{
	background-image:url('../images/ramble_bullet.png');
	background-repeat: no-repeat;
	background-position: 0px 5px;
	padding-left: 40px;
	margin-bottom: 20px;
}

.index_carousel{
	width:500px;
	float: right;
	display: inline;
	height: 300px;
	margin-top:35px;
}

.index_steps{
	margin-top: 30px;
	background-color: rgba(0,0,0,0.08);
	height: 200px;
	overflow:visible;
	text-align: center;
}

.index_step{
	float: left;
	width: 33%;
	padding-top: 15px;
}

.map_step{
	padding-top: 42px;
}

.boot_step{
	padding-top: 35px;
}

.index_step a{
	color:#308b17 !important;
	text-decoration: none;
}

.index_step a:hover{
	text-decoration: underline;
}

.index_about{
	margin-top: 40px;
	font-size: 16px;
}

.nivo-caption{
	text-shadow:none;
}

.nivoSlider {
    position:relative;
    background:url('slider-themes/dark/loading.gif') no-repeat 50% 50%;
}
.nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.nivoSlider a {
    border:0;
    display:block;
}

.nivo-caption{
	background-color: rgba(8,40,3,1) !important;
	font-size: 14px !important;
}

.nivo-caption b{
	font-size: 16px !important;
}

.nivo-directionNav a:hover{
	background-color: rgba(8,40,3,0.9) !important;
}