.map_content{
	padding:0;
}

.map_canvas{
	height: 600px;
	width: 70%;
	float: left;
}

.map_page_nonmap{
	padding:5px 10px 0px 10px
}

.noteImageContent{
	width: 90%
}

.noteImageContent div, .noteImageContent p{
	width: 80%;

}

/*.imageContent img{
	width:200px;
}*/

.ni_title{
	font-weight: bold;
}

.ni_info{
	font-size: 10pt
}

.map_page_content{
	padding-top: 60px;
}

.web_map_controls{
	float: right;
	width: 25%;
}

.web_map_controls ul{
	width: 80%;
}

.web_map_controls ul .ui-btn-inner, .web_map_controls ul .ui-btn-up-a{
	font-size: 13px;
}